@inherits LayoutComponentBase
@inject IJSRuntime JS

<audio id="bgMusic" loop>
    <source src="audio/Wish.mp3" type="audio/mpeg" />
</audio>

<div class="page">

    <main>
        
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>