@page "/"
@inject NavigationManager Nav
@inject IJSRuntime JS

<div class="intro-card">

    <div class="cute-icon">💌</div>

    <h1>Hello Love</h1>
    <h1>I’ve Got A Question...</h1>

    <button class="start-btn" @onclick="StartAndGo">
        💖 Open 💖
    </button>

</div>

@code {

    async Task StartAndGo()
    {
        try
        {
            await JS.InvokeVoidAsync("playAudio");
        }
        catch
        {
            // Ignorera om browsern blockerar ljud
        }

        Nav.NavigateTo("valentine");
    }
}